body{
    margin: 0;
    padding: 0;
   display: flex;
   justify-content: center;
   align-items: center;
}
.maincontainer{
    width: 50%;
    /* height: 300px; */
    border:1px;
    box-shadow: 5px 10px rgb(233, 231, 231);
    text-align: center;
    position: fixed;
    top: 10%;
}
#img {
    width: 220px;
    height: 209px;
}
button{
    background-color: blueviolet;
    color: white;
    width: 250px;
    height: 50px;
}
